<div class="image-item">
	<%= link_to image_tag(image.image.large.url), image.image.url, title: image.title, data: { lightbox: "image-1" } %>
	<span class="caption simple-caption">
		<%== image.title %>
	</span>
</div>
