<div id="main">
	<h1>NASA Astronomy Pictures</h1>

	<div class="container source-container">
		<div class="source left">
			<a href="http://apod.nasa.gov/apod/archivepix.html">NASA Astronomy Picture of the Day</a>
		</div>
		<div class="source right">
			<a href="https://github.com/">View Source on GitHub</a>
		</div>
	</div>

	<% if @images.any? %>
	  <div id="image-container">
	    <%= render partial: 'image', collection: @images %>
	  </div>
	  <%= will_paginate @images, class: "container pagination" %>
	<% end %>

	<div id="infscr-loading-container" class="container"></div>

	<div class="clear"></div>
</div>
