/*
 *= require_tree .
 *= require_self
 */

/* Main */
body {
	background-color: #E2E2E2;
	color: #333;
	font-family: 'Rokkitt', serif;
}

#main {
  width: 1200px;
  margin: 0 auto 50px;
}

.container {
  width: 100%;
  float:left;
}

/* Heading */
h1 {
	text-align: center;
	margin:20px 0;
	font-size: 32px;
}

/* Image Gallery */
#image-container {
  width: 100%;
  float:left;

  .image-item {
    overflow: hidden;
    border: 5px solid #fff;
    cursor: pointer;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;

    a {
      display: block;
      line-height: 0;
    }

    img {
      max-width: 280px;
    }

    .caption {
      background-color: rgba(0,0,0,0.8);
      position: absolute;
      color: #fff;
      z-index: 100;
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out; 
      transition: all 300ms ease-out;
      left: 0;
    }

    .simple-caption {
      width: 100%;
      display: block;
      line-height: 16pt;
      padding: 5px 0;
      text-align: center;
    }

    &:hover .simple-caption {
      -moz-transform: translateY(-100%);
      -o-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      opacity: 1;
      transform: translateY(-100%);
    }
  }
}

/* Pagination */
.pagination {
  margin: 20px auto;
  text-align:center;
  display:none;
}

/* Source */
.source-container {
  margin: 20px auto 40px;

	.source {
		width:50%;
		float:left;

	  a {
	  	margin:0 20px;
	  	font-size: 26px;
	  }
	}

	.left {
	  text-align:right;
	}

	.right {
	  text-align:left;
	}
}

/* Helper Styles */
.clear {
  clear:both;
}
 
/* Media Queries */
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
	#main {
		width: 900px;
	}
}
 
 
@media only screen and (max-width : 899px),
only screen and (max-device-width : 899px){
	#main {
		width: 600px;
	}
	.source-container {
		.source {
			width:100%;
		}

		.left,
		.right {
		  text-align:center;
		}

		.right {
			margin:20px 0 0;
		}
	}
}
 
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
	#main {
		width: 300px;
	}
}
