#image-container {
  width: 1200px;
  margin: 0 auto;

  .image-item {
    margin:0 2px;

    img {
      max-width: 296px;
    }
  }
}
 
/*Media Queries*/
@media only screen and (max-width : 1199px),
only screen and (max-device-width : 1199px){
    #image-container {
        width: 900px;
    }
}
 
 
@media only screen and (max-width : 899px),
only screen and (max-device-width : 899px){
    #image-container {
        width: 600px;
    }
}
 
@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
    #image-container {
        width: 300px;
    }
}
